.divTwoColum {
    display: flex;
    background-image: url("../../images/fondopi.jpg");
    width: 100%;
    height: auto;
  }
  
  .firstColum {
    width: 12%;
    position: fixed;
    margin-top: 77px;
    background-color:  rgba(30, 104, 35, 0.8);
    height: 100%;
  }
  
  .btn {
    border-width: 0px;
    border-radius: 100%;
    cursor: pointer;
    padding-left: 5px;
    margin-left: 2px;
    margin-top: 53px;
    background-color: transparent; /* Fondo transparente */
  }
  
  .btn img {
    margin-top: -30px;
    max-width: 100%;
    width: 45px; /* Ajusta el ancho de la imagen según tus necesidades */
    height: 45px; /* Ajusta el alto de la imagen según tus necesidades */
  }
  
  .btn:hover {
    color: white;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    z-index: 1;
    transition: all 0.5s ease-in-out;
  }
  
  .imgs {
    max-width: 100%;
    width: 25px;
    height: 25px;
    border-radius: 20%;
  }
  
  .exit_img {
    max-width: 100%;
    width: 55px;
    height: 55px;
    border-radius: 20%;
  }
  
  .secondColum {
    width: 85%;
    padding-top: 55px;
    padding-left: 160px;
  }
  
  .home {
    display: flex;
  }
  
  .title_img {
    margin-top: 15px;
    max-width: 100%;
    width: 20%;
    height: 5%;
   
  }
  
  .message {
    margin-top: 320px;
    color: white;
    display: flex;
    position: fixed;
    font-size: 24px;
    font-weight: bold;
  }
  
  .btnLeave {
    display: flex;
    background-color: white;
    cursor: pointer;
    margin-left: 1080px;
    margin-top: 280px;
    position: fixed;
    padding: 15px;
    background: transparent;
    border: none;
  }
  
  .btnLeave:hover {
    color: white;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    z-index: 1;
    transition: all 0.5s ease-in-out;
  }
  
  .divCards {
    display: grid;
    flex-direction: row;
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    width: 100%;
    margin-left: 90px;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  
  .loading {
    justify-content: center;
    text-align: center;
    padding-left: 375px;
    padding-top: 100px;
    height: 200px;
    width: 400px;
  }
  
  @media screen and (max-width: 700px) {
    .firstColum {
      width: 100%;
      position: fixed;
      margin-top: 55px;
      height: auto;
      display: flex;
    }
  
    .btn {
      padding-left: 5px;
      margin-left: 25px;
      margin-right: 20px;
      margin-top: auto;
      margin-bottom: auto;
      font-size: 16px;
    }
  
    .secondColum {
      width: 100%;
      padding-top: 190px;
      padding-left: 0px;
      margin-right: auto;
      text-align: center;
    }
  
    .title {
      font-size: 20px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  
    .loading {
      padding-left: 0px;
      padding-top: 50px;
      width: 50px;
      height: 500px;
      width: 500px;
    }
  
    .divLoading {
      margin-left: auto;
      margin-right: auto;
      height: 500px;
      width: 500px;
    }
  
    .divCards {
      grid-template-columns: repeat(1, 1fr);
      margin-left: 0px;
    }
  }
  