/* Estilo para el fondo general */
.divGeneral {
    display: flex;
    background-image: url("../../images/fondopi.jpg");
    /*background-repeat: repeat;*/
    width: 100%;
    height: auto;
}

/* Estilo para el cuadro principal */
.divCreate {
    margin-top: 100px;
    background-color: rgba(30, 104, 35, 0.6); /* Transparencia para el cuadro verde */
    border: 5px solid rgba(218, 165, 32, 0.6); /* Transparencia para el borde amarillo */
    margin-top: 8%;
    border-radius: 5%;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 10%;
    width: 60%;
}

/* Estilo para el título */
.title {
    color: white;
    font-family: 'myFont2';
    font-weight: lighter;
}

/* Estilo para la disposición de los elementos */
.data {
    display: flex;
    text-align: start;
    padding-left: 20px;
    padding-right: 20px;
}

/* Estilo para la sección de Crear y Cancelar */
.crt_cncl {
    display: flex;
}

/* Estilo para la primera columna */
.firstColumn {
    padding-right: 20px;
}

/* Estilo para las etiquetas */
label {
    color: white;
    font-size: 18px;
}

/* Estilo para los campos de entrada */
.input {
    margin-top: 2px;
    background-color: white;
    border-radius: 8%;
    font-size: 15px;
    font-family: monospace;
    width: 190px;
}

/* Estilo para el campo de descripción */
.inputDescription {
    height: 85px;
    width: 190px;
    background-color: white;
    font-size: 15px;
    border-radius: 8%;
}

/* Estilo para los selectores */
select {
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    height: 3em;
    padding: 0 1em 0 1em;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* Estilo para el selector de géneros */
.selectGenres {
    background-color: white;
    border-radius: 8%;
    margin-top: 2px;
    font-size: 15px;
    font-family: monospace;
    width: 190px;
}

/* Estilo para la segunda columna */
.secondColumn {
    padding-right: 20px;
}

/* Estilo para la disposición de múltiples selectores */
.divMultiSelect {
    display: flex;
    margin-top: 10px;
}

/* Estilo para los selectores múltiples */
.multiSelect {
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Estilo para el ícono de eliminar */
.imgs_delete {
    max-width: 100%;
    width: 12px;
    height: 12px;
}

/* Estilo para el botón de Crear */
.btn {
    border-width: 2px;
    background-color: transparent; /* Fondo transparente */
    border: none;
    cursor: pointer;
    padding-left: 5px;
    margin-left: 70%;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Estilo para el botón de Cancelar */
.btn_cncl{
    background-color: transparent; /* Fondo transparente */
    border: none;
    border-width: 2px;
    border-radius: 10%;
    cursor: pointer;
    padding-left: 5px;
    margin-right: 2px;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Estilo para los botones al hacer hover */
.btn:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    z-index: 1;
    transition: all 0.5s ease-in-out;
}

/* Estilo para la imagen del botón de Crear */
.imgs_crt{
    max-width: 100%;
    width: 60px;
    height: 60px;
    border-radius: 20%;
}

/* Estilo para el botón de Cancelar al hacer hover */
.btn_cncl:hover {
    color: white;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    z-index: 1;
    transition: all 0.5s ease-in-out;
}

/* Estilo para el mensaje */
.message {
    margin-top: 320px;
    color: white;
    display: flex;
    position: fixed;
    font-size: 24px;
    font-weight: bold;
}

@media screen and (max-width: 700px) {
    .divCreate {
        margin-top: 85px;
        margin-bottom: 20px;
        width: 80%;
    }

    .title {
        font-size: 22px;
    }

    .data {
        display: block;
        padding-left: auto;
        padding-right: 0px;
    }

    label {
        font-size: 17px;
    }

    .input {
        width: 95%;
        font-size: 12px;
    }

    .firstColumn {
        margin-bottom: 20px;
    }

    .secondColumn {
        margin-bottom: 20px;
    }

    .inputDescription {
        height: 60px;
        width: 95%;
        font-size: 12px;
    }

    #inputRating {
        width: 88%;
    }

    .selectGenres {
        width: 90%;
    }

    .btn {
        margin-top: 35px;
        margin-bottom: 30px;
        font-size: 20px;
    }

}