.divGeneral {
    display: flex;
    background-image: url("../../images/fondopi.jpg");
   /*background-repeat: repeat;*/
   width: 100%;
   height: auto;
  }
  
  .divDetail {
    background-color: rgba(30, 104, 35, 0.6);;
    border: 5px solid rgba(218, 165, 32, 0.6);
    margin-top: 8%;
    border-radius: 5%;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 10%;
    padding: 10px;
  }

  .conteiner_tecnologias{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    background:transparent;
    padding: 10px;
    width: 96%;
    margin-top: 20px;
}

.title_img{
  margin-top: 15px;
    max-width: 100%;
    width: 30%;
    height: 15%;
}
  
  .text {
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    line-height: 20px;
    font-weight: 400;
  }
  
  .divRedes {
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    background: transparent;
    padding: 10px;
    width: 96%;
    margin-top: 20px;
  }
  
  a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
    display: flex;
  }
    
  .imagenL {
    display: flex;
    width: 52px;
    height: 52px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .imagenG {
    display: flex;
    width: 52px;
    height: 52px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .image_tecnologias{
    width: 45px;
    height: 45px;
    padding: 10px;
}
    
  .textRedes {
    font-size: 25px;
    padding-left: 10px;
    color: #280783;
    font-weight: bold;
  }
  
  
  
  
  @media screen and (max-width: 700px) {
  
    .divDetail {
      border: 3px solid #280783;
      margin-top: 100px;
      width: 80%;
    }
  
    .title {
      font-size: 17px;
      color: #280783;
    }
    
    .text {
      font-size: 14px;
    }
  
    .imagenL {
      width: 35px;
      height: 35px;
    }
    
    .imagenG {
      width: 35px;
      height: 35px;
    }
      
    .textRedes {
      font-size: 19px;
      padding-left: 10px;
    }
  
  }